# Virtual environment
.venv/
venv/

# Environment variables
.env

# Database
db.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo

# Django
staticfiles/

# Local feature test folders
music/
place-frontend/

# PyCharm
.idea/

# OS
.DS_Store
